<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PreExamen</title>

    <link rel="stylesheet" href="./css/bootstrap.min.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <style>
        *{
            padding: 0;
            margin: 0;
            box-sizing: border-box;

        }

        .centrarDiv {
            display: grid;
            place-items: center;
            height: 920px;
        }

        #Formulario{
            background-color: white;
            width: 500px;
            min-width: auto;
            height: auto;
            padding: 50px;
            margin-top: 1em;
            border: 5px solid black;
        }

        .formulario__Header{
            border: black solid 3px;
            background-image: linear-gradient(to top, #d5d4d0 0%, #d5d4d0 1%, #eeeeec 31%, #efeeec 75%, #e9e9e7 100%);
            text-align: center;
            padding: 5px;
            border-radius: 5px;
        }

        .formulario__Form{
            background-color: whitesmoke;
            margin-top: 1em;
            margin-bottom: 1em;
            border-radius: 5px;
            padding: 15px;
        }

        .formulario__Footer{
            border: black solid 3px;
            background-image: linear-gradient(to top, #d5d4d0 0%, #d5d4d0 1%, #eeeeec 31%, #efeeec 75%, #e9e9e7 100%);
            text-align: center;
            padding: 1px;
            border-radius: 5px;
        }

    </style>
</head>

<body style="background-image: linear-gradient(to top, #dbdcd7 0%, #dddcd7 24%, #e2c9cc 30%, #e7627d 46%, #b8235a 59%, #801357 71%, #3d1635 84%, #1c1a27 100%);" class="centrarDiv">

        <main id="Formulario" class="main centrarDiv">

            <div class="container">

                <header style="display: flex; " class="formulario__Header">
                    <div style="width: 35%;">
                        
                        <a href="" target="_blank"><img style="width: 90px; border-radius: 20px;" src="./img/bus.png" alt=""></a>
                    </div>
                    <div style="display: grid; place-items: center;">
                        <h4><%=Header%></h4>
                    </div>
                    
                </header>
                
                <form action="" method="p" class="formulario__Form">
                    
                    <!--Numero De Boleto-->
                    <div class="input-group mb-3">
                        <span style="width: 175px; justify-content: center;" class="input-group-text" id="basic-addon1">Num Boleto</span>
                        <input id="NumeroBoleto" name="NumeroBoleto" type="number" class="form-control" placeholder="" aria-label="Username" aria-describedby="basic-addon1" required="true">
                    </div>

                    <!--Destino del Viaje-->
                    <div class="input-group mb-3">
                        <span style="width: 175px; justify-content: center;" class="input-group-text" id="basic-addon1">Destino</span>
                        <input id="Destino" type="text" class="form-control" placeholder="" aria-label="Username" aria-describedby="basic-addon1" required="true">
                    </div>

                    <!--Nombre del Cliente-->
                    <div class="input-group mb-3">
                        <span style="width: 175px; justify-content: center;"  class="input-group-text" id="basic-addon1">Nombre del Cliente</span>
                        <input id="NombreCliente" type="text" class="form-control" placeholder="" aria-label="Username" aria-describedby="basic-addon1" required="true">
                    </div>

                    <!--Años Cumplidos-->
                    <div class="input-group mb-3">
                        <span style="width: 175px; justify-content: center;" class="input-group-text" id="basic-addon1">Años Cumplidos</span>
                        <input id="Edad" type="number" class="form-control" placeholder="" aria-label="Username" aria-describedby="basic-addon1" required="true">
                    </div>

                    <!--Tipo de Viaje-->
                    <div class="input-group mb-3">
                        <label style="width: 175px; justify-content: center;" class="input-group-text" for="inputGroupSelect01">Tipo de Viaje</label>
                        <select id="TipoViaje" class="form-select" required="true">
                          <option value="">Seleccionar...</option>
                          <option value="1">Sencillo</option>
                          <option value="2">Doble</option>
                        </select>
                      </div>

                    <!--Precio-->
                    <div class="input-group mb-3">
                        <span style="width: 140px; justify-content: center;" class="input-group-text" id="basic-addon1">Precio</span>
                        <span style="width: 35px; justify-content: center;" class="input-group-text" id="addon-wrapping">$</span>
                        <input id="Precio" type="number" class="form-control" placeholder="" aria-label="Username" aria-describedby="basic-addon1" required="true">
                    </div>

                    <hr>

                    <div class="input-group mb-3">
                        <center>
                            <button style="background-color: pink;"  class="btn btn-outline-secondary" value="Calcular" onclick="Resultados()">
                                Calcular
                            </button>
                            <input style="background-color: pink;" type="reset" class="btn btn-outline-secondary" value="Limpiar">
                        </center>
                    </div>


                      <!--Resultados-->

                      <div class="input-group flex-nowrap">
                        <span style="width: 125px; justify-content: center;" class="input-group-text" id="addon-wrapping">SubTotal</span>
                        <span class="input-group-text" id="addon-wrapping">$</span>
                        <input id="SubTotal" style="max-width: 250px;" type="number" class="form-control" placeholder="" aria-label="Username" aria-describedby="addon-wrapping" readonly >
                      </div>

                      <div class="input-group flex-nowrap">
                        <span style="width: 125px; justify-content: center;"  class="input-group-text" id="addon-wrapping">Impuesto 16%</span>
                        <span class="input-group-text" id="addon-wrapping">$</span>
                        <input id="Impuesto" style="max-width: 250px;" type="number" class="form-control" placeholder="" aria-label="Username" aria-describedby="addon-wrapping" readonly >
                      </div>

                      <div class="input-group flex-nowrap">
                        <span style="width: 125px; justify-content: center;"  class="input-group-text" id="addon-wrapping">Descuento</span>
                        <span class="input-group-text" id="addon-wrapping">$</span>
                        <input id="Descuento" style="max-width: 250px;" type="number" class="form-control" placeholder="" aria-label="Username" aria-describedby="addon-wrapping" readonly >
                      </div>

                      <div class="input-group flex-nowrap">
                        <span style="width: 125px; justify-content: center;"  class="input-group-text" id="addon-wrapping">Total a Pagar</span>
                        <span class="input-group-text" id="addon-wrapping">$</span>
                        <input id="TotalAPagar" style="max-width: 250px;" type="number" class="form-control" placeholder="" aria-label="Username" aria-describedby="addon-wrapping" readonly >
                      </div>

                </form>

                <footer class="formulario__Footer">
                    <b><%=Footer%></b>
                </footer>
            </div>
            
        </main>


</body>

<script src="./js/main.js"></script>

</html>